*{
    margin: 0;
    padding: 0;
    /* color: black; */
}
body{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
#header{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #111111;
    z-index: 1000;
}
.header__navbar{
    margin: auto;
    padding: 0% 5%;
    width: 90%;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0px 0px 6px 2px lightblue;
    font-weight: bold;
}
.header__navbar__menu--list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.danh-sach{
    width: 450px;
    height: auto;
  }
  .nguoi-dung{
    width: 250px;
    height: auto;
  }
.header__navbar__menu--list a{
    padding: 0px 7px;
    text-decoration: none;
    position: relative;
    color: white;
}
.header__navbar__menu--list li{
    width: -webkit-fill-available;
    margin: 0px 0px;
    padding: 16px  0px;
    text-align: center;
}
.header__navbar__menu ul li:hover{
    background: green;
    color: black;
    transition: .5s;
    /* border-bottom: 2px solid red; */
}
.header__navbar__menu ul li:hover ul {
    display: block;
    border-bottom: 10px black;
    transition: .5s;
}
.header__navbar__menu ul li ul {
    position: absolute;
    display: none;
    top: 50px;
}
.header__navbar__menu ul li ul li {
    background: black;
    display: block;
    padding: 5px;
}
.header__navbar__menu ul li ul li:hover{
    background: green;
    color: black;
}
.header__navbar__menu ul li ul li a {
    display: block;
    padding: 10px 10px 10px 7px;
}
#content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: #565656 1px solid;
}
#myself-introduce{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content-detail{
    width: 80%;
    margin: auto;
    font-size: 16px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#content-detail p li{
    font-family: Times New Roman;
    font-size: 19px;
    color: #565656;
    margin: 21px 0;
    display: block;
    line-height: 26px;
}
#content-detail li{
    list-style: none;
}
#picture{
    width: 95%;
}
 table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
} 
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
 
.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
} 
.picture-logo{
    width: 15px;
    height: 15px;
}
.img{
    width: 100%;
    height: 610px;
}
.img img{
    width: 100%;
}
.style-picture-left {
    width: 50%;
    height: 400px;
    float: left;
}
.style-picture-left img{
    margin: 10px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}


}
.style-picture-left__top {
    height: 50%;
}
.style-picture-right{
    width: 50%;
    height: 400px;
    float: left;
}
.style-picture-right img{
    margin-top: 100px;
}

.video{
    width: 100%;
    height: 422px;
}
.center,.nav__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav__content{
    opacity: 0;
    visibility: hidden;
    width: 400px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}
.nav__header{
    height: 68px;
    background: #27ae60;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}



#click:checked ~ .nav__content{
    opacity: 1;
    visibility: visible;
}
.click-me{
    display: block;
    width: 100px;
    height: 50px;
    background: #27ae60;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 22px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
}
.click-me:hover{
    background: #219150;
}
.fa-times{
    position: 20px;
    right: 20px;
    top:20px;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}
.close-btn{
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #26a65b;
    border-radius: 3px;
    color:27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}
#footer {
    position:relative;
    bottom:0;
    width:100%;
    box-shadow: 0px 0px 6px 2px lightblue;
    background-color: black;
    color: white;
 }
 .footer__list{
    margin: auto;
    padding: 10px;
    width: 750px;
    text-transform: uppercase;
}
.footer__list ul li:hover{
    /* border-bottom: 2px solid red; */
}
.footer__list a{
     text-decoration: none;
     font-weight: bold;
     font-size: 20px;
     color: white;
}
.footer__introduce{
    width: 700px;
    height: 70px;
    margin: 20px auto;
    font-size: 16px;
    color: white;
}
.footer__icon{
    text-align: center;
    margin: 10px 0px;
    color: white;
}
.footer__icon a{
    padding: 0px 5px;
    color: white;
}
.footer__copyright{
    text-align: center;
    margin: 10px 0px 0px;
}
.footer__copyright p{
    margin: 0px;
}
.list li{
    display: inline;
    padding: 15px;
    margin: auto;
    width: 80%;
    text-decoration: none;
}
#navbar-mobile{
    display: none;
}

#back-to-top{
    border: 0px;
    width: 40px;
    height: 40px;
    background-color:#4FC3A1;
    position: fixed;
    bottom: 50px;
    right: 45px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    z-index: 1000;
}
/* 
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  } */
  
  #back-to-top:hover {
    background-color:#7bd7bb;
  }
/* Mobile */
@media only screen and (max-width: 720px) {
/* hidder header and footer */
    #navbar-desktop{
        display: none;
    }
    #footer-desktop{
    }
    #picture{
        width: 100%;
        height: auto;
        margin: 10px 0px;
    } /*
    .fl-table{
        display: none;
    } */
    #content{
        width: auto;
    }
    #content-detail{
        width: 90%;

    }
    .video{
        width: 100%;
    }
    .style-picture-left{
        width: 100%;
        height: auto;
    }
    .style-picture-right{
        width: 100%;
        height: auto;
    }

    .list{
        text-align: center;
    }
    .list li{
        display: block;
        text-align: center;
        width: 150px;
        padding: 4px;
        display: inline;
    }
    .list li a {
        font-size: 10px;
    }
    .footer__list{
        width: auto;
        padding: 0px;
    }
    .footer__introduce{
        display: none;
    }
    .footer__copyright{
        font-size: 10px;
    }
    .footer__list a{
        font-size: 16px;
    }
    #navbar-mobile{
        display: block;
    }
    .fl-table td, .fl-table th{
        padding: 2px;
    }
 /* style header mobile (template) */
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: black;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 50px;
        padding: 0px 20px;
    }
    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
    }
    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle {
        display: none;
      }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
    .menu-button::before {
        content: '';
        margin-top: -8px;
    }
    .menu-button::after {
        content: '';
        margin-top: 8px;
    }
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
    .menu-button-container {
        display: flex;
    }
    .menu {
        list-style-type: none;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        width: 100%;
        display: flex;
        top: 20px;
        left: 0;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: black;
        top: 10px;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    .menu li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: auto;
    }
    .menu li:hover{
        background: green;
    }
    #back-to-top{
        right: 15px;
        bottom: 50px;
    }
}